{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}



<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">

<body class="text-center form-signin w-100 m-auto">

    <main class="form-signin w-100 m-auto">
        <form class="" method="POST">
            {% csrf_token %}
            {% bootstrap_form loginForm %}
            {% buttons %}
            <button type="submit" class="btn btn-primary" onclick="errHandle()">Enter</button>
            <a href="{% url 'register' %}" class="btn btn-secondary">Create Account</a>
            {% endbuttons %}
        </form>
    </main>



</body>

{% endblock %}