{% extends "base.html" %}
{% load bootstrap5 %}
{% block content %}


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
</style>
<div class="album py-5 bg-light">
    <div class="container">
        <h1>
            Welcome {{ user_fullname }}
        </h1>
        <div>
            <h2>
                Your Goals
            </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for goal in goals %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h3>
                                {{ goal.title }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Routine : {{ goal.routine }}</h5>
                            <h6>
                                Activity : {{ goal.activity }}
                            </h6>
                            <p class="card-text">
                                <span>
                                    From : {{goal.start_date.date}}
                                </span>
                                <br>
                                <span>
                                    To : {{goal.end_date.date}}
                                </span>
                            </p>
                            <p class="card-text">{{goal.desciption}}</p>
                            <a href="#Routines" class="btn btn-primary">Details</a>
                        </div>
                        <div class="card-footer text-muted">
                            Created at : {{ goal.created_date }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <br>
        <div>
            <h2 id="Routines">
                Your Routines
            </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for routine in routines %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h3>
                                {{ routine.title }}
                            </h3>
                        </div>
                        <div class="card-body">
                            <h6>
                                Activity : {{ routine.activity }}
                            </h6>
                            <p class="card-text">
                                <span>
                                    From : {{routine.start_date.date}}
                                </span>
                                <br>
                                <span>
                                    To : {{routine.end_date.date}}
                                </span>
                            </p>
                            <p class="card-text">{{routine.desciption}}</p>
                            <a href="#Activities" class="btn btn-primary">Details</a>
                        </div>
                        <div class="card-footer text-muted">
                            Created at : {{ routine.created_date }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <br>
        <div>
            <h2 id="Activities">
                Your Activities
            </h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for activity in activities %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <span></span>
                            <h4>{{ activity.title }}</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Activity Score : {{ activity_score }}</h5>
                            <!-- <p>
                                I {{ activity.frequency }} do {{ activity.type }} {{ activity.category }}
                            </p> -->
                            <p>
                                <span>
                                    Frequency : {{ activity.frequency }} - {{ activity.frequency.score }}
                                </span><br>
                                <span>
                                    status : {{ activity.status }} - {{ activity.status.score }}
                                </span><br>
                                <span>
                                    Category : {{ activity.category }} - {{ activity.category.score }}
                                </span><br>
                                <span>
                                    Type : {{ activity.type }} - {{ activity.type.score }}
                                </span>
                            </p>
                            <p class="card-text">Description : {{ activity.description }}</p>
                            <p class="card-text">
                                <span>
                                    From : {{activity.start_date.date}}
                                </span>
                                <br>
                                <span>
                                    To : {{activity.end_date.date}}
                                </span>
                            </p>

                            <a href="#" class="btn btn-success">Like</a>
                            <a href="#" class="btn btn-danger">Dislike</a>
                        </div>
                        <div class="card-footer text-muted">
                            Created at : {{ activity.created_date }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}