{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<style>
    .middle {
        margin: 1rem auto;
        width: 15rem;
    }
</style>

<br><br><br>
<h1>
    Welcome {{ user_fullname }}

</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card shadow-sm card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="card-header d-flex flex-column h-100 p-5 pb-3 text-shadow-1 bg-img card-cover">
                    <img src="{% static '/Media/Photos/shutterstock_1409500844-1.jpg' %}" alt="">
                    <h3>
                        {{ user_fullname }}
                    </h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Routine : {{ username }}</h5>
                    <h6>
                        {{ age }} Years Old
                    </h6>
                    <p class="card-text">
                        <span>
                            {{gender}}
                        </span>

                    </p>
                </div>
                <div class="card-footer text-muted">
                    Created at : {{ profile.created_date }}
                </div>
            </div>
        </div>

        <div class="col-8">
            <form action="" method="post">
                <br>
                {% csrf_token %}
                {% bootstrap_form profile_form %}
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}