{% extends "Base.html" %}
{% load bootstrap5 %}
{% block content %}

<title>{{title}}</title>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please Register</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="firstname" placeholder="name@example.com">
                <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="lastname" placeholder="name@example.com">
                <label for="floatingInput">Last Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="name@example.com">
                <label for="floatingInput">UserName</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <span>
                        Already Have an account ?
                        <a type="submit" href="{% url 'login' %}" method='GET' class="btn btn-primary">Login</a>
                    </span>
                </label>
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-primary" method="POST">Register</button>
            {% endbuttons %}
        </form>
    </main>

</body>

</html>
{% endblock %}